<style type="text/css">
.special-font {
	font-weight: normal;
}

.content .span-left {
	background: url('/documents/67510365/68382969/16+LDSF+Logo/921bc930-00ff-4833-ba1b-5926dbbd844a');
	background-repeat: no-repeat;
	background-size: 100%;
	color: #FFF;
	display: inline-block;
	height: 126px;
	vertical-align: top;
	width: 400px;
}

.content .span-right {
	color: #FFF;
	display: inline-block;
	margin-top: 5px;
    max-width: 340px;
	text-align: left;
}

.content .event-title {
	text-transform: uppercase;
}

.content .event-title.top {
	font-size: 42px;
}

.content .event-title.bottom {
	font-size: 36px;
	margin-top: -10px;
}

.content .event-subtitle {
	font-size: 16px;
}

.content .event-subtitle.top {
	margin-top: 20px;
}

.content .register-button {
	margin-top: 40px;
}

.fade {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.fade.in {
	opacity: 1;
}

#intro {
	background: url($background_image.data) no-repeat center bottom;
	background-size: cover;
	overflow: hidden;
    position: relative;
}

#intro .content {
    position: absolute;
    left: 38%;
    top: 15%;
	##left: 38%;
	##position: relative;
	##top: 200px;
	transition: all 1s ease-in-out;
	z-index: 3;
}

#intro .content.slided {
	left: 15%;
}
#intro .content img {
	height: 190px;
}

#introCover {
    transition: width 1s ease-in-out;
	height: 0;
	## 800px here to avoid multiple edits in individual border widths 
	## this is one huge border that when blown up shows a 45 degree angle
	border: 800px solid #f3f3f3;
	border-right-color:  transparent;	
	border-left-width: 0;
	border-bottom-width: 0;	

}
#introCover.start {
	width: 100%;
}
#introCover.slided {   
    width: 25%;
}

@media(max-width: 760px) {
	.register-button {
		display: none;
	}
}


@media(max-width: 590px) {
	.content .span-left {
		background-size: contain;
		margin-top: 20px;
		height: 82px;
		width: 60px;
	}

	.content .event-title.top {
		font-size: 36px;
	}

	.content .event-title.bottom {
		font-size: 28px;
	}
}

@media(max-width: 420px) {
	.content .span-left {
		height: 66px;
		width: 48px;
	}

	.content .event-title.top {
		font-size: 25px;
	}

	.content .event-title.bottom {
		font-size: 22px;
	}

	.content .span-right {
		margin-top: 25px;
	}
}
</style>
<div id="intro">
	<div class="border">
		<div id="introCover" class="start">
			<div id="bannerContent" class="content fade">
				$content.data
			</div>
		</div>
	</div>
</div>
<script>
AUI().ready(
	'aui-base',
	function(A) {
		## fade in banner content
		var bannerContent = document.getElementById("bannerContent");
		if (bannerContent != null) {
			bannerContent.className += " in";
		}

		## slide in banner cover 2 seconds on load
		A.on('load', function() {
			## only slide if desktop/ tablet
			if (window.innerWidth > 840) {
				window.setTimeout(function () {
					var introCover = document.getElementById("introCover");
					if (introCover != null) {
						introCover.className += " slided";
					}
					bannerContent.className += " slided";
				}, 2000 );
			}
		});
	}
);
</script>
